* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 16px -> 62.5% = 10px = 1rem */
  font-size: 62.5%;
}

body {
  background-image: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Tahoma, sans-serif;
  align-content: center;
}

/* a,
button,
input {
  font: inherit;
  color: inherit;
} */

.window {
  margin: auto;
  background-color: #c0c0c0;
  width: 47.5rem;
  /* width: fit-content; */
  border: 3px solid;
  border-color: white #3d3d3a #3d3d3a white;
  border-radius: 5px;
  /* box-shadow: 3px 3px #3d3d3a, -3px -3px white; */
  /* margin: 1rem; */
}

.window__header {
  color: white;
  background-image: linear-gradient(to right, #0c2369, #aacaf1);
  /* height: 20rem; */
  /* background-image: linear-gradient(to right in hsl, blue, yellow); */
  padding: 0.5rem 2rem;
  border-radius: 2.5px 2.5px 0px 0px;

  /* border-bottom: 1px solid grey; */
  /* border-bottom: 1px solid;
  border-image: linear-gradient(to right, #606a86, #94b1cf) 1; */
  position: relative;
}

.window__header::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  /* background-color: red; */
  background-image: linear-gradient(to right, #606a86, #94b1cf);
  position: absolute;
  left: 0;
  bottom: 0;
}

.window__heading {
  font-size: 1.25rem;
  /* margin: 1rem 2rem; */
}

/* .border {
  height: 1px;
  background-image: linear-gradient(to right, #606a86, #94b1cf);
} */

.window__content {
  padding: 2rem;
  /* display: flex; */
  /* gap: 2rem; */
}

.window__message {
  display: inline;
  margin-left: 2rem;
  font-size: 1.5rem;
  vertical-align: 1.25rem;
}

.window__img {
  width: 4rem;
  height: 4rem;
  /* aspect-ratio: 1; */
  /* box-shadow: 3px 3px 0px #84807F; */
  /* border-radius: 100%; */
  filter: drop-shadow(3px 3px 0px #84807f);
  image-rendering: pixelated;
}

.window__btn {
  margin: 0 0 0 36rem;
  padding: 0.25rem 0.75rem;
  /* background-color: #c0c0c0; */
  /* background-color: inherit; */
  background-color: transparent;
  border: 3px outset;

  letter-spacing: -0.5px;
  font-weight: 600;

  cursor: pointer;
}

.window__btn:active {
  /* background-color: green; */
  border-style: inset;
}
